<template>
  <div>
    <!-- TODO: show here your {{pascalCase name}} -->
    <slot />
  </div>
</template>

<script setup lang="ts">
import type { I{{pascalCase name}} } from '@{{name}}/domain/entities/{{name}}.entity'
defineProps<{ item: I{{pascalCase name}} }>()
</script>
