<template>
  <div>
    <!-- TODO: show here your {{pascalCase resource}} -->
    <slot />
  </div>
</template>

<script setup lang="ts">
import type { I{{pascalCase resource}} } from '@{{feature}}/domain/entities/{{resource}}.entity'
defineProps<{ item: I{{pascalCase resource}} }>()
</script>
