<template>
  <section class="p-4">
    <h1>{{pascalCase name}} Page</h1>
    <!-- TODO: usa aquí tu componente y composable -->
  </section>
</template>

<script setup lang="ts">
import { onMounted, ref } from 'vue'
import type { I{{pascalCase name}} } from '@{{name}}/domain/entities/{{name}}.entity'
import {{pascalCase name}}Component from '@{{name}}/presentation/components/{{name}}/{{pascalCase name}}Component.vue'
import { use{{pascalCase name}} } from '@{{name}}/presentation/composables/{{name}}/use{{pascalCase name}}'
import { use{{pascalCase name}}Store } from '@{{name}}/presentation/store/{{name}}/{{name}}.store'

const { load{{pascalCase name}}s } = use{{pascalCase name}}()
const store{{pascalCase name}} = use{{pascalCase name}}Store()

onMounted(async () => {
  await load{{pascalCase name}}s()
})
</script>
