<template>
  <section class="p-4">
    <h1>{{pascalCase resource}} Page</h1>
    <!-- TODO: usa aquí tu componente y composable -->
  </section>
</template>

<script setup lang="ts">
import { onMounted } from 'vue'
import { use{{pascalCase resource}} } from '@{{feature}}/presentation/composables/{{resource}}/use{{pascalCase resource}}'
import { use{{pascalCase resource}}Store } from '@{{feature}}/presentation/store/{{resource}}/{{resource}}.store'

const { load{{pascalCase resource}}s } = use{{pascalCase resource}}()
const store{{pascalCase resource}} = use{{pascalCase resource}}Store()

onMounted(async () => {
  await load{{pascalCase resource}}s()
  console.log(store{{pascalCase resource}}.items)
})
</script>
